*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Poppins",sans-serif;
}
.navbar{
    position:absolute;
    top:0;
    width:100px;
    display:flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
}
.dropdown{
    width: 100px;
    height: 33px;
    border: white solid 1px;
   position: relative;
   right:50px;
   text-align: center;
}
.dropdown select{
    position: relative;
   top: 5px;
}
.nav-net{
        width: 125px;
        height: 100%;
        position: absolute;
        bottom: 1px;
}
.nav-item{
    display:flex;
    gap: 10px;
    position: absolute;
    left: 1290px;
}
select{
    background: transparent;
    color: white;
    border: none;
}
.dropdown{
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.4);
}
.sign{
    border:#dc030f;
    background-color:#dc030f ;
    color: white;
    padding: 0.25rem,0.5rem;
    border-radius: 4px;
    height:35px;
    width:100px;
}
header img{
    background: transparent;
}
.hero-image{
    width: 100%;
    height: 100%;
}
.imageinner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.hero-text{
    position: absolute;
    top:30%;
    text-align: center;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap:20px;

}
.hero-text h1{
    font-size: 50px;
    font-weight: 600;
}
.hero-p1{
    font-size: 25px;
    font-weight: 400;
} 
.hero-p2{
    font-size: 20px;
    font-weight:400;
} 
.mail{
    width:450px;
    height: 60px;
    color: black;
    padding:0.25rem,0.5rem ;
    border-radius: 3px;
    border-color: white;
    border: none;

}
.start{
    font-size: large;
    width: 170px;
    height: 60px;
    background-color: #dc030f;
    background-origin: padding-box;
    border: 1px solid #dc030f;
    color: white;
}
.video1{
    position: absolute;
    right: 100px;
   top:1000px;
}
.desc {
   
   padding-left: 200px;
   padding-top: 200px;
}
.desc h1{
   font-size: 50px;
   font-weight: 15px;
    
}
.desc p{
    font-size: 25px;
    padding-top: 20px;
   
     
 }
 .video2{
    padding-left: 300px;
    padding-top: 150px;
 }
 .card2 .desc{
       padding-left: 800px;
       position: absolute;
       top:1200px;
       
 }
 .video3{
    position: absolute;
    right:100px;
    top:1800px;
 }
 .card3 .desc{
    position: relative;
   bottom: 100px;
 }
 .footer,
 .footer a{
    color:#999;
    font-size: 0.9rem;
 }
 .footer p{
    margin-bottom: 1.5rem;
    padding-left: 50px;
 }
 .footer .footer-coloum{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    padding-left: 50px;
 }
 .footer li{
    line-height: 1.9;
 }
 footer{
   padding-top: 100px;
   padding-left: 150px;
 }